.calculator {
  background-color: gray;
  max-width: 420px;
  min-height: 96vh;
}

.input {
  padding: 20px;
}

.clear_button {
  width: 30%;
}

.clear_all_button {
  width: 30%;
}

.button_container {
  background-color: #2196f3;
  width:75%;
}

button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  width: 25%;
  text-align: center;
}
